<div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="jumbotron min-vh-100 text-center m-0 bg-info d-flex flex-column justify-content-center text-light">
                    <h3 class="display-4">About</h3>
                    <hr class="bg-light w-50">
                    <h4 class="">A weather app built with Angular 8 and MDbootstrap.</h4>
                    <p class="lead">
                        <a class="btn btn-primary btn-md" href="#" role="button">View on github  <i class="fab fa-github"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <i class="fab fa-github"></i>